/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem vertical */
}

::-webkit-scrollbar-track {
  background: #f0e8c2; /* cor do fundo do track */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #573a37; /* cor do "dedo" */
  border-radius: 8px;
  border: 3px solid #f0e8c2; /* cria espaçamento interno */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #291b1a; /* cor ao passar o mouse */
}

/* Firefox */
* {
  scrollbar-width: thin; /* fina */
  scrollbar-color: #573a37 #f0e8c2; /* thumb | track */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* garante que a viewport seja totalmente ocupada */
  margin: 0;
  padding: 0;
  font-family: 'Alice', serif;
  line-height: 150%;
  color: #573a37;
  background-color: #f0e8c2; /* fallback caso a imagem não carregue */
}

.app-container {
  min-height: 100vh;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 48px 0 28px;
}

.page {
  width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  flex: 1; /* permite que page cresça se necessário */
}

img {
  border-radius: 16px;
}

.icon {
  vertical-align: middle;
  margin: 0 0.3rem;
}

.main-content {
  padding: 24px 0;
}

.main-content section + section {
  margin-top: 24px;
}

.about p + p {
  margin-top: 12px;
}

.about p strong {
  font-weight: bold;
  font-size: 16px; 
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  margin-bottom: 4px;
  color: #291b1a;
  line-height: 150%;
}

.ingredients {
  margin-top: 24px;
}

.preparation {
  margin-top: 24px;
}

ul {
  padding-left: 24px;
}

.footer {
  color: #f0e8c2;
  text-align: center;
  padding: 24px 0;
}
